*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root{
    --theme: #3C413A;
    --colorMain: #9DA39A;
    --colorWords: #fff;
    --wordsMain: #000;
    --WordsHover: rgba(255, 255, 255, 0.596);

    --fontTitle: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fontPara: 'Heebo', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: var(--theme);
    justify-content: space-between;
    padding: 10px;
    font-family: var(--fontTitle);
    color: var(--colorWords);
    font-weight: bold;
    font-size: 1.2rem;
    cursor:default;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .content {
    padding: 16px;
    background-color: #fff;
  }
  .sticky + .content {
    padding-top: 102px;
  }
.user{
    cursor: pointer;
    margin-right: 3rem;
}
.user:hover{
    color: var(--WordsHover);
}
nav a, span{
    margin-left: 20px;
}
nav a{
    color: var(--colorWords);
}
nav a:hover{
    color: var(--WordsHover);
}
.div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.img-header{
    width: 5rem;
    border-radius: 100%;
}
.category-content{
    display: block;
    position: fixed;
    width: 30%;
    height: 40vh;
    top: 15%;
    background-color: var(--theme);
    z-index: 2;
}
.list-genre a{
    display: flex;
    flex-direction: column;
    text-indent: 2rem;
    line-height: 1.8rem;
    color: rgb(218, 218, 216);
    font-family: var(--fontPara);
    letter-spacing: 0.1rem;
}
.add-film{
    background-image: url(img/desktop.jfif);
    background-position: top left;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    width: 100%;
}
.search{
    height: 2rem;
    padding: 1rem;
    border: none;
    outline: none;
}
.search:focus{
    outline: 2px solid #0471A6;
}
.film-container{
    padding: 2rem;
    color: var(--colorWords);
    font-size: 1.3rem;
    font-family: var(--fontTitle);
    text-align: center;
}
.film{
    height: 1.8rem;
    padding: 1rem;
    text-indent: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    border: none;
    outline: none;
    width: 12rem;
}
.film:focus{
    outline: 2px solid #0471A6;
}
.flex-menu{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}
.genre-menu{
    margin-top: 1.5rem;
}
button{
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 1px solid  var(--colorWords);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: var(--fontPara);
    font-size: 1rem;
    color: #fff;
}
button:hover{
    border-color: #7678ED;
}
.radio-btn{
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.13em solid ;
    border-radius: 50%;
    cursor: pointer;
}
.default{    
    background-color: var(--colorWords);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: var(--fontTitle);
    justify-content: center;
}
.default h1{    
    margin: 3rem 0 0 3rem;
}
.default img{  
    margin: 3rem 3rem 3rem 3rem;  
    height: 15rem;
    cursor: pointer;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 11rem;
    height: 15rem;
  }

.default img:hover{  
    transform: translateY(0) scale(1.2);
    border-radius: 5px;
}
.modal{
    position: none;
}
.active-modal{
    display: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    background-color: var(--theme);
    color: var(--colorWords);
    padding: 3rem;
}